{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MidNight | Ecommerce</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body id="principal">
    <div class="navbar">
        <div class="header-inner-content">
            <h1 class="logo">Mid<span>Night</span></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'produtos' %}">Produtos</a></li>
                    <li><a href="{% url 'cart' %}">Carrinho</a></li>
                    <li><a href="{% url 'conta' %}">Conta</a></li>
                </ul>
            </nav>
            <div class="nav-icon-container">
                <img src="{% static 'images/cart.png' %}" alt="Ícone do carrinho">
                <img src="{% static 'images/menu.png' %}" class="menu-button" alt="Ícone do menu">
            </div>
        </div>
    </div>
    <header class="header">
        <div class="header-inner-content">
            <div class="header-bottom-side">
                <div class="header-bottom-side-left">
                    <h2>Kit Aerofólio De Carro Universal Fibra de Carbono</h2>
                    <p>
                        Material Premium:<br />
                        Fabricado em ABS de alta qualidade, resistente ao desgaste e superdurável.<br /><br />
    
                        Estabilidade Extra:<br />
                        Melhore a aerodinâmica e a estabilidade do seu carro em alta velocidade.<br /><br />
    
                        Tamanho Compacto:<br />
                        25 cm x 7 cm x 3,5 cm – perfeito para qualquer veículo.<br /><br />
    
                        Instalação Fácil:<br />
                        Design autoadesivo, sem necessidade de ferramentas ou furadeiras. Limpe, cole e pronto!<br /><br />
                        
    
                        Estilo Exclusivo:<br />
                        Decore seu carro com um acessório elegante e universal que combina com qualquer modelo.<br /><br />
                    </p>
                    <a href="{% url 'produtos' %}" class="header-button">
                        Ver agora lista de produtos como esse &#8594;
                    </a>                    
                </div>
                <div class="header-bottom-side-right">
                    <img src="{% static 'images/WhatsApp_Image_2024-11-14_at_22.42.24__2_-removebg.png' %}" alt="Imagem do produto em destaque" />
                </div>
            </div>
        </div>
    </header>
</body>
</html>
