@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #f6f6f6;
    font-family: 'Lato', sans-serif;
}

header {
    background: #000000;
    color: white;
    padding: 2% 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    font-size: 30px;
}

.logo span {
    color: #AB3130 ; 
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    background: white;
    padding: 30px;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}

.filters {
    display: flex;
    align-items: center;
}

.filters label {
    margin-right: 10px;
    font-size: 16px;
}

.filters select {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
    gap: 16px;  
    padding: 20px;
}

.product-card {
    width: 230px;   
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;  
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilo do nome do produto */
.product-name {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Estilo do preço */
.product-price {
    font-size: 1em;
    color: #333;
}

/* Botão de adicionar ao carrinho */
.product-card button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #444;
}